body {
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat';
    color: #111111;
}

canvas {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.logs {
    z-index: 6;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh;
}